<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>上下滑动的Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>419C03A01C9A85F4003FC430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>419C03B31C9A85F4003FC430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>419C03BE1C9A85F4003FC430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
